.mainDiv {
    background-color: #130230;
    padding-bottom: 10vh;
}

.titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    margin-bottom: 5vh;
}

.title {
    background: -webkit-linear-gradient(315deg, rgb(225, 203, 255), #9a4ff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.semiMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.input {
    width: 20vw;
    height: 5vh;
    border-radius: 7px;
    text-align: center;
}

.inputButton {
    width: 20vw;
    height: 5vh;
    border-radius: 7px;
    text-align: center;
    background-color: #9a4ff7;
    color: white;
    cursor: pointer;
    transition: background 0.5s;
}

.inputButton:hover {
    background-color: rgb(233, 204, 255);
    color: #9a4ff7;
}

.connectionDiv {
    border-left: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
}