 /* .mainDiv {
} */
/*
.mainDiv:hover {
    transform: translateY(-10px);
} */

.socialCard {
    background-color: #af77f4;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 5vh;
    padding: 2vh 5vw;
}

.Link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    object-fit: contain;
    height: 10vh;
}